#list-group-box{
    background-color: white;
    width: 180px;
    float: left;
}
.list-group-title{
    height: 45px;
    margin-top: 5px;
    padding: 0.75rem 1.5rem;
    color: #bbbbbb;
    font-size: 15px;
    box-sizing: border-box;
}
.list-group-item{
    height: 45px;
    display: block;
    font-size: 15px;
    line-height: 45px;
    padding-left: 20%;
}
.list-group-item:hover{
    background-color: gray;
    color: white;
}
.fixed{
    background-color: gray;
    color: white;
}