/*页面选择栏*/
#mainlistdiv{
    height: 50px;
    width: inherit;
    margin: 8px 0px;
    background-color: black;
    border-radius: 5px;
}

#mainlist li{
    list-style: none;
    line-height: 50px;
    padding: 0px 5%;
    float: left;
}
#mainlist a{
    display: block;
    color: silver;
}

.list-item:hover{
    color: white;
    background-color: #333333;
}
